

.border-main{
  border: 1px solid blue;
  width:99%;
  min-height: 600px;
}
.component-1{
  border: 1px solid blue;
  height: 380px;
  width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-left: 60px;
}
.author{
  margin-top: 20px;
}
.border-main{
  display: flex;
  flex-wrap: wrap;
 
}
.buttons{
  border: 1px solid blue;
  height: 80px;
  width: 99%;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.left{
  padding: 10px;
  background-color: white;
  color: blue;
  border: none;
  margin-left: 200px;

}
.left:hover{
  border: 1px solid blue;
  cursor: pointer;
}
.right{
  padding: 10px;
  background-color: white;
  color: blue;
  border: none;
  margin-left: 600px;
}
.right:hover{
  border: 1px solid blue;
  cursor: pointer;
}
.navbar{
  border: 1px solid blue;
  height: 80px;
  width: 99%;
}
.login{
  padding: 10px;
  color: blue;
  border: 1px solid blue;
  margin: auto;
}
.login:hover{
  cursor: pointer;
}